ul.menu li span, ul.menu li a {/* 5.8 fix */
	display: inline;
}
.button{/* , .article header h2 a.button */
	padding: .444rem;
}
.sel-edit.button.green.float-right {
	font-size-adjust: 0.321;
	border-radius: 33px;
}
.sel-edit.button.green.float-right:hover {
	font-size-adjust: 0.345;
	color: #EEE;
}
